<?xml version="1.0"?>
<!--
/**
 */
-->
<config>
    <modules>
        <Acme_Feedback>
            <version>1.0.0.0.1</version>
        </Acme_Feedback>
    </modules>
    <global>
        <events>
            <controller_front_init_routers>
                <observers>
                    <magentostudy_news>
                        <class>Acme_Feedback_Model_Observer</class>
                        <method>testListener</method>
                    </magentostudy_news>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <frontend>
        <routers>
            <acme_feedback>
                <use>standard</use>
                <args>
                    <module>Acme_Feedback</module>
                    <frontName>feedback</frontName>
                </args>
            </acme_feedback>
        </routers>
    </frontend>
</config>
